html body {
  background-image: url(/static/linedpaper_@2x.png) !important;
}

h1 {
  font-family: 'Courgette', cursive;
  font-size: 44px;
  color: #595959;
}

h3 {
  font-family: 'Courgette', cursive;
  font-size: 35px;
  color: #404040;
}

body div h3 {
  font-family: 'Courgette', cursive;
  font-size: 30px;
  color: #595959;
}

div div h3 {
  font-family: 'Courgette', cursive;
  font-size: 30px;
  color: #595959;
}

body h3 {
  font-family: 'Courgette', cursive;
  font-size: 30px;
  color: #595959;
}

h5 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5em;
  color: #595959;
}

/*p{
  color: #595959;
}


div .form-group input {
  background-color: #d8caa8;
  width: 400px;
  color: black;
  padding: 10%;
}*/
.div-padding {
  padding: 10px;
}

ul a:link {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px; 
  color: rgb(73, 133, 101);
}

a:visited{
  font-family: 'PT Sans', sans-serif;
  font-family: 20px;
  color: rgb(40, 73, 65);
}

a:hover{
  color: #4d88ff;
  text-decoration: none;
}

#search-padding {
  padding: 10px;
}
/*.title{
  font-size: 2em;
}*/

.search-titles {
  color: #333333;
}

/*
.form-control {
  width: 350px;
  background-color: rgba(73, 133, 101, 0.5);
  border: 20px, solid, #363942;
}*/

.container-fluid{
  padding: 0;
  background-color: rgba(230, 230, 230, 0.5);
  border: 20px, solid, #363942;
}


#classes-results li {
  padding-bottom: 15px;
}

#spiral {
  background-image: url(/static/spiral.png);
  height: 1000px;
  padding: 0;
}

.homepage {
  color: #e6e6e6;
}

#picture {
  background-image: url(/static/linedpaper_@2x.png) !important;
}



/* MAP CSS */

#map { 
  height: 100%; 
  width: 100%;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#target {
  width: 345px;
}