body {
  background-image: url(/static/stardust.png)
}

h1 {
  font-family: 'Courgette', cursive;
  font-size: 44px;
  color: #80bfff;
}

h2 {
 font-family: 'Courgette', cursive;
 font-size: 30px; 
 color: #e6e6e6;
}

h3 {
 font-family: 'PT Sans', sans-serif;
 font-size: 24px; 
 color: #e6e6e6;
}

h4 {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #999999;
}

h5 {
 font-family: 'PT Sans', sans-serif;
 font-size: 18px; 
 color: #e6e6e6;
}


/*.title {
  font-family: 'Courgette', cursive;
  font-size: 35px;
  color: blue;
}*/


.subtitle {
 font-family: 'PT Sans', sans-serif;
 font-size: 24px;
 color: #999999;
}

li {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #999999;
  padding-bottom: 10px;
}

span {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #999999;
}


#reviews {
  background-image: url(/satic/grundge_wall.png);
  opacity: 0.5;
}

.list-group-item {
  color: #4d4d4d;
}


p{
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}


.div-padding {
  padding: 10px;
}

a :link {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px; 
  color: #DEDEDE;
}

a :visited{
  font-family: 'PT Sans', sans-serif;
  font-family: 20px;
  color: rgb(40, 73, 65);
}

a :hover{
  color: #80bfff;
  text-decoration: none;
}

#search-padding {
  padding: 10px;
}

.title{
  color: #80bfff;
}


.form-control {
  width: 400px;
}

/*.container-fluid{
  padding: 0;
  background-color: rgba(230, 230, 230, 0.5);
  border: 20px, solid, #363942;
}*/


#classes-results {
  padding-bottom: 15px;
}


.btn-default {
  font-family: 'Courgette', cursive;
  color: #595959;
}

.homepage {
  color: #e6e6e6;
}

.padding {
  padding: 10px;
}


/*#review {
  height: 50px;
  width: 500px;
  background-color: yellow;
}*/






