{% extends 'base.html' %} 

{% block head %}

  <title>Class Info</title>
  <meta charset=utf-8/>


{% endblock %}

{% block body %}

    
    <!-- Basic Class info: Language, Level, Days, Times, Start, End -->
  <div>
    <h3>{{ returned_classes.class_name }}</h3>
  </div>

  <div>
    <h5 id="monster">{{ returned_classes.language }} Class, {{ returned_classes.level }} Level</h5>
  </div>

  <div>
    <h5>Schedule: {{ returned_classes.class_days }} from {{ returned_classes.start_time }} to {{ returned_classes.end_time }}</h5>
  </div>

  <div>
    <h5>First Day: {{ returned_classes.start_date }} Last Day: {{ returned_classes.end_date }}</h5>
  </div>

  <div>
    <h5>For: {{ returned_classes.min_students }} to {{ returned_classes.max_students }} students.</h5>
  </div>

  <div>
    <h5>Costs: ${{ returned_classes.cost }}/{{ returned_classes.per_time }}</h5>
  </div>

  <div>
    <h5>Location: {{ returned_classes.address }} </h5>
  </div>

  <div>
    <h5>The students:</h5>
      <ul>
        {% for stu in all_class %}
        {% if stu.is_teacher == 0 %}
        <li>{{ stu.username }}</li>
      {% endif %}
      {% endfor %}
      </ul>

    <h5>The teacher:</h5>
      <ul>
        {% for stu in all_class %}
        {% if stu.is_teacher == 1 %}
        <li>{{ stu.username }}</li>
        {% endif %}
        {% endfor %}
        </ul>

      </ul>
  </div>

  <div>
    <form action="/join-class" method="POST" id="join">
      <input type="hidden" name="id-class" id="id-class" value={{ returned_classes.class_id }}>
      <button type="submit" class="btn btn-primary" name="join-it" id="join-it">Join</button>
    </form>

      <input type="hidden" name="id-class" id="id-class" value={{ returned_classes.class_id }}>
      <a href="/search"><button class="btn btn-primary" name="return-search" id="return-search">Not what I wanted</button>
  </div>  
<!--
  <div id="map" style="width: 700px; height: 700px"></div> 
  <div>
    <input id="address" type="textbox" name="address">
    <input type="button" value="Encode" onclick="codeAddress()">
  </div>
-->

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/static/testing.js"></script>

{% endblock %}



<!-- 
function geocodeAddress(geocoder, resultsMap) {
  var address = document.getElementById('address').value;
  geocoder.geocode({'address': address}, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      resultsMap.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
        map: resultsMap,
        position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
} -->