{% extends 'base.html' %} 

{% block head %}

  <title>Class Info</title>
  <meta charset=utf-8/>

  <!-- Map -->
  <link rel="stylesheet" type="text/css" href="static/map.css">

   <!-- meta and style relate to the map -->
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">

    <!-- Map! -->
    <script src="static/classmap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9EdKesWy05EUiKhvZCLt-KKCy7GybmTo&signed_in=true&callback=initMap"
         async defer></script>



{% endblock %}

{% block body %}

    
    <!-- Basic Class info: Language, Level, Days, Times, Start, End -->
  <div>
    <h3>{{ returned_classes.class_name }}</h3>
  </div>

  <div>
    <h5>{{ returned_classes.language }} Class, {{ returned_classes.level }} Level</h5>
  </div>

  <div>
    <h5>Schedule: {{ returned_classes.class_days }} from {{ returned_classes.start_time }} to {{ returned_classes.end_time }}</h5>
  </div>

  <div>
    <h5>First Day: {{ returned_classes.start_date }} Last Day: {{ returned_classes.end_date }}</h5>
  </div>

  <div>
    <h5>For: {{ returned_classes.min_students }} to {{ returned_classes.max_students }} students.</h5>
  </div>

  <div>
    <h5>Costs: ${{ returned_classes.cost }}0/{{ returned_classes.per_time }}</h5>
  </div>

  <div>
    <h5>Location: {{ returned_classes.address }} </h5>
  </div>

  <form action="/join-class" method="POST" id="join">
    <input type="hidden" name="id-class" id="id-class" value={{ returned_classes.class_id }}>
    <button type="submit" class="btn btn-primary" name="join-it" id="join-it">Join</button>
  </form>

<!--
  <div id="map" style="width: 700px; height: 700px"></div> 
  <div>
    <input id="address" type="textbox" name="address">
    <input type="button" value="Encode" onclick="codeAddress()">
  </div>
-->

{% endblock %}



<!-- 
function geocodeAddress(geocoder, resultsMap) {
  var address = document.getElementById('address').value;
  geocoder.geocode({'address': address}, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      resultsMap.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
        map: resultsMap,
        position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
} -->