{% extends 'base.html' %} 

{% block head %}
  
  <!-- CSS -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="static/map.css">

  <!--jquery-->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
 
  <!-- Map! -->
  <script src="static/map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9EdKesWy05EUiKhvZCLt-KKCy7GybmTo&signed_in=true&callback=initMap"
       async defer></script>

   <!-- meta and style relate to the map -->
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">


{% endblock %}


{% block body %}

  <h3>Create a Class</h3>

  <form method="POST" action="/created" id="create-class">
    
    <!-- Language -->
    <div class="form-group">
      Language: 
      <select id="languagetype" name="languagetype" class="form-control">
          <option value="Portuguese">Portuguese</option>
          <option value="Spanish">Spanish</option>
          <option value="Mandarin">Mandarin</option>
          <option value="Korean">Korean</option>
          <option value="French">French</option>
      </select>


      <!-- Level -->
      <div class="form-group">
        Level: 
        <select name="leveltype" class="form-control">
            <option value="Beginning">Beginner</option>
            <option value="Pre-Intermediate">Pre-Intermediate</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Upper Intermediate">Upper Intermediate</option>
            <option value="Advanced">Advanced</option>
            <option value="Native Speaking">Native Speaker</option>
            <option value="Mixed">Mixed Levels</option>
      </div>


      <!-- Min num of Students -->
      <div class="form-group">
        Minimum number of students for class to run: 
          <input type="text" name="min" class="min-students">
      </div>


      <!-- Max num of Students -->
      <div class="form-group">
        Maximum number of students that can join: 
          <input type="text" name="max" class="max-students">
      </div>


      <!-- Days -->
      <div class="form-group" id="days">
          Days:
        <input type="checkbox" id="days" name="days" checked="checked" value="Monday">Monday
        <input type="checkbox" id="days" name="days" checked="checked" value="Tuesday">Tuesday
        <input type="checkbox" id="days" name="days" checked="checked" value="Wednesday">Wednesday
        <input type="checkbox" id="days" name="days" checked="checked" value="Thursday">Thursday
        <input type="checkbox" id="days" name="days" checked="checked" value="Friday">Friday
        <input type="checkbox" id="days" name="days" checked="checked" value="Saturday">Saturday
        <input type="checkbox" id="days" name="days" checked="checked" alue="Sunday">Sunday
      </div>

      <!-- Start Date -->
      <p>Start Date: <input type="date" id="datepicker" name="start"></p>


      <!-- End Date -->
      <p>End Date: <input type="date" id="datepicker" name="end"></p>


      <!-- Start Time  -->
      <p>Class starts at: <input type="time" class="timepicker" name="starttime" id=
      "starttime"></p>

      <!-- End Time  -->
      <p>Class ends at: <input type="time" class="timepicker" name="endtime" id=
      "endtime"></p>


      <!-- Price Picker -->
      <div class="form-group">
          <label class="sr-only" name="pricetype">Amount (in dollars)</label>
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" name="pricetype" placeholder="Amount">
            <div class="input-group-addon">.00</div>
            <div name="per-time">
              <select name="pertime" class="form-control">
                  <option value="hour">/hour</option>
                  <option value="week">/week</option>
                  <option value="month">/month</option>
                  <option value="year">/year</option>
              </select>
          </div>
        </div>


        <!-- Map -->
         <div onload="initialize()" id="map" style="width: 320px; height: 480px;"></div>
          <div>
            <input id="address" type="textbox" name="address">
            <input type="button" value="Encode" onclick="codeAddress()">
          </div>

      
          <!-- Submission Button -->
    <div>
      <button type="submit" class="btn btn-primary" name="createit" id="createit" value="Create it!">Create it!</button>
    </div>
   </form>







   <script>

   //  $(function() {
   //   $( "#datepicker" ).datepicker();
   // }); 

   //  $("input:checkbox[name=days]:checked").each(function(){
   //      yourArray.push($(this).val());
   //  });


     // function showValues() {
     //   var str = $( "form" ).serialize();
     //   $( "#results" ).text( str );
     // }
     // $( "input[type='checkbox'], input[type='radio']" ).on( "click", showValues );
     // $( "select" ).on( "change", showValues );
     // showValues();

    // Form Submission
   // Nothing will run until the DOM is ready

   function woohoo(data) {
            console.log("Yay, it worked")
            return "Woohoo!"
    };
  


    var inputs = $('#create-class').serialize();

// $('#b-form input:checkbox:checked').serialize()

    // When the button is clicked, the form is serialized and posted

    // var inputs = $("input:checkbox[name=days]:checked").serialize();

    // annonymous function, can't be called outside

    $(document).ready(function(evt) {
      $('#createit').click(function(evt){ 
        evt.preventDefault();  
        $.post("/created.json", inputs, woohoo);
      });
   });


 

   </script>


       <!-- <script>
    // Form Submission
   // Nothing will run until the DOM is ready
   // $(document).ready(function() {


    // When the button is clicked, the form is serialized and posted
    // $('#log').click(function(event)){   
    //   $.post("/login-success", $("#login"))
    //    });

    //   });
   </script> -->


 
  {% endblock %}

  function update(data){
  console.log(data.sad)

}
var inputs ={ "form": $("input:[checkbox]").seralize()}
.post("/created.json", inputs, update)

AJAX needs: url (same in server), what are you passing (each item in form - should serialize)
,
