{% extends 'base.html' %} 

{% block head %}

  <title>Class Info</title>

{% endblock %}

{% block body %}

  <!-- Basic Class info: Language, Level, Days, Times, Start, End -->

<div id="basic-class" class="col-sm-6 col-md-5 col-lg-6">

<div>
  <h1>{{ returned_classes.class_name }}</h1>
</div>

<div>
  <h3>Class Rating: {{ rate_format }}</h3>
</div>

{% if user_info.is_teacher == 0 %}
  <div>
    <h5>Rate this class!</h5>
    <form id="class-rate" class="form-group" method="post">

      <select type="dropdown" id="rateme" aria-labelledby="dropdownMenu1" class="form-control">
        <option name="rating" id="rating-1" value="1"><a href="#">1: Not Good</a></option>    
        <option name="rating" id="rating-2" value="2"><a href="#">2: Acceptable</a></option>
        <option name="rating" id="rating-3" value="3"><a href="#">3: Good</a></option>
        <option name="rating" id="rating-4" value="4"><a href="#">4: Very Good</a></option>
        <option name="rating" id="rating-5" value="5"><a href="#">5: Excellent</option>
      </select>
      <h5>Add a review:</h5> <textarea rows="4" cols="50" name="review" id="review"></textarea>
      <input type="submit" value="Rate Your Class">
    </form>
  </div>  

  <div id="green-box" class="alert alert-success" role="alert" hidden></div>

  {% endif %}


  <div>
    <h5>{{ returned_classes.language }} Class, {{ returned_classes.level }} Level</h5>
  </div>

  <div>
    <h5>{{ days_split }}: {{ starttime }} - {{ endtime }}</h5>
  </div>

  <div>
    <h5>{{ startdate }} - 
    {% if returned_classes.end_date == "" %}
      This class is ongoing
    {% else %}
      {{ enddate }}</h5>
    {% endif %}
  </div>

  <div>
    <h5>For: {{ returned_classes.min_students }} to {{ returned_classes.max_students }} students.</h5>
  </div>

  <div>
      {% if returned_classes.cost == 0 %}

      <h5>Costs: Free!</h5>

      {% else %}
      <h5>Costs: ${{ returned_classes.cost }}/{{ returned_classes.per_time }}</h5>
      {% endif %}

  </div>

<br>

  <div>
    <h5>The students:</h5>
      <ul>
        {% for stu in all_class %}
        {% if stu.is_teacher == 0 %}
        <li>{{ stu.username }}</li>
      {% endif %}
      {% endfor %}
      </ul>

<br>

    <h5>The teacher:</h5>
        {% for stu in all_class %}
        {% if stu.is_teacher == 1 %}
        <h4>{{ stu.username }}:  {{ stu.bio }}</h4>
        {% endif %}
        {% endfor %}

  </div>

<br>

    <div id="reviews">
      <h5>Reviews:</h5>
        {% if returned_classes.hide_reviews == 0 %}
            <ul class="list-group">
            {% for review in reviews %}
                <li class="list-group-item">{{ review.review }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if returned_classes.hide_reviews == 1 %}
            {%  if user_info.is_teacher == 1 %}
            <ul class="list-group">
              {% for review in reviews %}
                <li class="list-group-item">{{ review.review }}</li>
              {% endfor %}
            </ul>
            {% endif %}
        {% endif %}
    </div>

  {% if user_info.is_teacher == 1 %}
      {% if returned_classes.hide_reviews == 0 %}
      <form action="/hide-reviews", method='post'>
      <h4 for="hide">Check box to make reviews private
      <button class="btn btn-default" type="submit">Hide</button></h4>
      <input type="hidden" name="class_rev" value={{ returned_classes.class_id }}>
      <input type="hidden" id="hide" name="hide" value="1">
      </form>
      {% endif %}


      {% if returned_classes.hide_reviews == 1 %}
      <form action="/hide-reviews", method='post'>
      <h4 for="show">Check box to make reviews private
      <button class="btn btn-default" type="submit">Show</button></h4>
      <input type="hidden" name="class_rev" value={{ returned_classes.class_id }}>
      <input type="hidden" id="show" name="show" value="0">
      </form>
      {% endif %}
  {% endif %}




<script>
$('#input-1').prop('checked', false);

</script>    



  <div>
    <form method="POST" action="/dropped" id="drop">
      <input type="hidden" name="id-class" id="id-class" value={{ returned_classes.class_id }}>
      <button type="submit" class="btn btn-default" name="drop-it" id="drop-it">Drop Class</button>
    </form>

  </div>  

</div> <!--for the columns-->

<div class="col-sm-6 col-md-5 col-md-offset-2 col-lg-6 col-lg-offset-0">

  <div>
    <h5>Location: {{ returned_classes.address }} </h5>
  </div>

    <div id="map" style="width: 400px; height: 400px"></div>




<!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery.js"></script>


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9EdKesWy05EUiKhvZCLt-KKCy7GybmTo&signed_in=false&libraries=places&callback=initMap"></script>


  <script>
  function initMap() {
    var classId = $('#id-class').val()
    $.get('/map.json', {"class_id": classId}, makeMap);
    function makeMap(data){
      console.log(data);
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 37.7576793, lng: -122.4365721},
        zoom: 14
      });
      geocoder = new google.maps.Geocoder();
      geocoder.geocode({ 'address': data }, function(results, status) {
        console.log(results[0].geometry.location);
        if (status == google.maps.GeocoderStatus.OK) {
          if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
            map.setCenter(results[0].geometry.location);
            var infowindow = new google.maps.InfoWindow({
              content: '<b>' + data + '</b>',
              size: new google.maps.Size(150, 50)
            });
            var marker = new google.maps.Marker({
              position: results[0].geometry.location,
              map: map,
              title: data
            });
            google.maps.event.addListener(marker, 'click', function() {
              infowindow.open(map, marker);
            });
          } else {
            alert("No results found");
          }
        } else {
          alert("Geocode was not successful for the following reason: " + status);
        }
      });  
    }
  }
  </script>



  <script>

  // AJAX call to rate teacher/class
  function showResults(data){
    $("#green-box").html(data).removeAttr("hidden");
    // alert(data);
  }

  function submitRating(evt) {
    evt.preventDefault();

    var formInputs = {
      "rating": $("#rateme").val(),
      "classid": $("#id-class").val(),
      "review": $("#review").val(),
  };

      $.post('/enrolled.json', formInputs, showResults);
      console.log(".post ran");
  }

    $("#class-rate").on("submit", submitRating);
    console.log("step one");

  </script>
  <!-- <script src="/static/testing.js"></script> -->

</div> <!-- for the columns -->


  {% endblock %}