{% extends 'base.html' %} 

{% block head %}

  <title>Class Info</title>
  <meta charset=utf-8/>



{% endblock %}

{% block body %}

  <!-- Basic Class info: Language, Level, Days, Times, Start, End -->
<div>
  <h3>{{ returned_classes.class_name }}</h3>
</div>

<div>
  <h3>This class is currently rated at: {{ rate_format }}</h3>
</div>

{% if user_info.is_teacher == 0 %}
  <div>
    <h3>Rate this class!</h3>
    <form id="class-rate" method="post">

      <select type="dropdown" id="rateme" aria-labelledby="dropdownMenu1">
        <option name="rating" id="rating-1" value="1"><a href="#">1: Not Good</a></option>    
        <option name="rating" id="rating-2" value="2"><a href="#">2: Acceptable</a></option>
        <option name="rating" id="rating-3" value="3"><a href="#">3: Good</a></option>
        <option name="rating" id="rating-4" value="4"><a href="#">4: Very Good</a></option>
        <option name="rating" id="rating-5" value="5"><a href="#">5: Excellent</option>
      </select>
      Add a review: <input type="text" name="review" id="review">
      <input type="submit" value="Rate Your Class">
    </form>
  </div>  

  <div id="green-box" class="alert alert-success" role="alert" hidden></div>

  {% endif %}


  <div>
    <h5>{{ returned_classes.language }} Class, {{ returned_classes.level }} Level</h5>
  </div>

  <div>
    <h5>Schedule: {{ days_split }}. From {{ starttime }} to {{ endtime }}</h5>
  </div>

  <div>
    <h5>First Day: {{ startdate }}</h5>

    {% if returned_classes.end_date == "" %}
      <h5>This class is ongoing</h5>
    {% else %}
      <h5>Last Day: {{ enddate }}</h5>
    {% endif %}
  </div>

  <div>
    <h5>For: {{ returned_classes.min_students }} to {{ returned_classes.max_students }} students.</h5>
  </div>

  <div>
      {% if returned_classes.cost == 0 %}

      <h5>Costs: Free!</h5>

      {% else %}
      <h5>Costs: ${{ returned_classes.cost }}/{{ returned_classes.per_time }}</h5>
      {% endif %}

  </div>

  <div>
    <h5>Location: {{ returned_classes.address }} </h5>
  </div>

  <div>
    <h5>The students:</h5>
      <ul>
        {% for stu in all_class %}
        {% if stu.is_teacher == 0 %}
        <li>{{ stu.username }}</li>
      {% endif %}
      {% endfor %}
      </ul>

    <h5>The teacher:</h5>
      <ul>
        {% for stu in all_class %}
        {% if stu.is_teacher == 1 %}
        <li>{{ stu.username }} Some info on your teacher: {{ stu.bio }}</li>
        {% endif %}
        {% endfor %}
        </ul>

  </div>

  <div id="class-reviews">
    {% if user_info.is_teacher == 0 %}
        {% if returned_classes.hide_reviews == 0 %}
        <h5>Reviews:</h5>
        <ul>
          {% for review in reviews %}
          <li>{{ review.review }}</li>
          {% endfor %}
        </ul>
        {% endif %}
    {% endif %}    
  </div>

  {% if user_info.is_teacher == 1 %}
      {% if returned_classes.hide_reviews == 0 %}
      <form action="/hide-reviews", method='post'>
      <label for="hide">Check box to make reviews private</label>
      <button class="btn btn-default" type="submit">Hide</button>
      <input type="hidden" name="class_rev" value={{ returned_classes.class_id }}>
      <input type="hidden" id="hide" name="hide" value="1">
      </form>
      {% endif %}


      {% if returned_classes.hide_reviews == 1 %}
      <form action="/hide-reviews", method='post'>
      <label for="show">Check box to make reviews private</label>
      <button class="btn btn-default" type="submit">Show</button>
      <input type="hidden" name="class_rev" value={{ returned_classes.class_id }}>
      <input type="hidden" id="show" name="show" value="0">
      </form>
      {% endif %}
  {% endif %}






<script>
$('#input-1').prop('checked', false);

  // $("#viewable").click(function () {
  //   $("#class-reviews").toggle();
  // });

  // if (user_info.is_teacher == 0 & "#hide-reviews"==) {

  // }

  // [PubSub] Received message:  p11068267/fields {"fields":{"isViewable":false,"isPublished":false,"reasonNotViewable":1},"event":"changed"}

  // [PubSub] Received message:  p11068267/fields {"fields":{"isViewable":true,"isPublished":true,"reasonNotViewable":0},"event":"changed"}


</script>    


 <script>
//     // AJAX call to rate teacher/class
//     function showResults(data){
//       $("#green-box").html(data).removeAttr("hidden");
//       // alert(data);
//     }

//     function submitRating(evt) {
//       evt.preventDefault();

//       var formInputs = {
//         "rating": $("#rateme").val(),
//         "classid": $("#id-class").val(),
//         "review": $("#review").val(),
//     };

//         $.post('/enrolled.json', formInputs, showResults);
//         console.log(".post ran");
//     }

//       $("#class-rate").on("submit", submitRating);
//       console.log("step one");

//     </script>










  <div>
    <form method="POST" action="/dropped" id="drop">
      <input type="hidden" name="id-class" id="id-class" value={{ returned_classes.class_id }}>
      <button type="submit" class="btn btn-primary" name="drop-it" id="drop-it">Drop Class</button>
    </form>

  </div>  


    <div id="map" style="width: 400px; height: 400px"></div>

    {% if user_info.is_teacher == 0 %}
    <div id="stripe-div">
    <button type="stripe" class="btn btn-primary" name="stripe" id="stripe">Pay for your class</button>
    {% endif %}


<!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery.js"></script>

  <script>
  // function getStuffs(){
  //     $.get('/ajax-love.json', monsterAttack);
  //     console.log("Are you working?");
  // }

  // $('#square').click(function() {
  //   alert( "Pay the monster!" );
  // });
  </script>


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9EdKesWy05EUiKhvZCLt-KKCy7GybmTo&signed_in=false&libraries=places&callback=initMap"></script>


  <script>
  function initMap() {
    var classId = $('#id-class').val()
    $.get('/map.json', {"class_id": classId}, makeMap);
    function makeMap(data){
      console.log(data);
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 37.7576793, lng: -122.4365721},
        zoom: 14
      });
      geocoder = new google.maps.Geocoder();
      geocoder.geocode({ 'address': data }, function(results, status) {
        console.log(results[0].geometry.location);
        if (status == google.maps.GeocoderStatus.OK) {
          if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
            map.setCenter(results[0].geometry.location);
            var infowindow = new google.maps.InfoWindow({
              content: '<b>' + data + '</b>',
              size: new google.maps.Size(150, 50)
            });
            var marker = new google.maps.Marker({
              position: results[0].geometry.location,
              map: map,
              title: data
            });
            google.maps.event.addListener(marker, 'click', function() {
              infowindow.open(map, marker);
            });
          } else {
            alert("No results found");
          }
        } else {
          alert("Geocode was not successful for the following reason: " + status);
        }
      });  
    }
  }
  </script>



  <script>

  // AJAX call to rate teacher/class
  function showResults(data){
    $("#green-box").html(data).removeAttr("hidden");
    // alert(data);
  }

  function submitRating(evt) {
    evt.preventDefault();

    var formInputs = {
      "rating": $("#rateme").val(),
      "classid": $("#id-class").val(),
      "review": $("#review").val(),
  };

      $.post('/enrolled.json', formInputs, showResults);
      console.log(".post ran");
  }

    $("#class-rate").on("submit", submitRating);
    console.log("step one");

  </script>
  <!-- <script src="/static/testing.js"></script> -->


  {% endblock %}