{% extends 'base.html' %} 


{% block head %}


<link href='https://fonts.googleapis.com/css?family=Courgette|PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="static/project.css">

{% endblock %}

{% block body %}

<div id="spiral">

<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-ofset-3 col-xs-12 text-center">

<br><br><br><br>

<h1 class="homepage">Classyr</h1>
<h3 class="homepage">Start learning</h3>

<br>

<a class="btn btn-default" href="/search" role="button">Search for Classes!</a> </br></br>

<a class="btn btn-default" href="/create-profile" role="button">Create New Account</a></p>
</div>

</div>


{% endblock %}