{% extends 'base.html' %} 


{% block head %}

<link href='https://fonts.googleapis.com/css?family=Courgette|PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="static/project.css">

<style>
h1 {
  font-family: font-family: 'Courgette', cursive;
}
</style>

{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-ofset-3 col-xs-12 text-center">

<h1>Classyr</h1>
<h3>Start learning</h3>

<a class="btn btn-default" href="/search" role="button">Search for Classes!</a> </br></br>

<a class="btn btn-default" href="/create-profile" role="button">Create New Account</a></p>
</div>

{% endblock %}