{% extends 'base.html' %} 

{% block head %}

<script src="https://code.jquery.com/jquery.js"></script>

{% endblock %}


{% block body %}


{% if id_class %}
<form method="POST" action="/login-success-visitor" class="form-inline">

{% else %}
<form method="POST" action="/login-success" class="form-inline">
{% endif %}

  <h3 class="search-titles">Welcome back!</h3>
  <div class="form-group">
    <label class="sr-only" type="email">Email address:</label>
    <input type="email" class="form-control" name="email" placeholder="Email">
  </div> </br></br>
  <div class="form-group">
    <label class="sr-only" type="text">Password:</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <input type="hidden" name="id-class" value="{{ id_class }}">
  <button id="log" type="submit" class="btn btn-default">Sign in</button>
</form>
</form>

<h5>Don't have an account? Create one <a href="/create-profile">here</a><h5>
</div>

{% endblock %}
