  <!-- Header includes language and level from db -->
 <h3>Language: {{ language }}, {{ level }} </h3>  

    <!-- List inludes class information from db -->
<ul>
        <li>Days: {{ class_days }}</li>
        <li>Time: {{ time }}</li>
        <li>Start Date: {{ start_date }}</li>
        <li>End Date: {{ end_date }}</li>
        <li>Cost: {{ cost }}</li>
    </ul>


<!-- This stylizes the map     -->
    <style>
        #map { height: 300px;
              width: 300px;
        }
    </style>



<!-- This links to Mapbox's API and CSS -->

<script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />


<!-- Sharks!!! (for testing) -->

<div id='map'></div> 

<!-- Access token for Mapbox -->
 
 <script>
L.mapbox.accessToken = 'pk.eyJ1IjoidGFtYW5kdWEiLCJhIjoiY2lnNGkyM24yMnNmYnYzbTN6bG5paGY2ZiJ9.lCx9N4fOI0MKfLbjm8_lyQ';

var layer = L.mapbox.gridLayer(mapbox.light);

debugger

var monkey = L.mapbox.map('map', 'tamandua.o0fgj581');
var layer = L.mapbox.tileLayer('tamandua.o0fgj581');
layer.on('ready', function() {
    
    Next line is for testing
    console.log("We're done");
    
    Next line is for testing
    console.log(layer.getTileJSON());

var marker = L.mapbox.marker.icon();
console.log("did anything happen?")

    debugger
  the layer has been fully loaded now, and you can
  call .getTileJSON and investigate its properties
});


L.geoJson('tamandua.o0fgj581', {
    style: function (feature) {
return {color: feature.properties.color};
    },
    onEachFeature: function (feature, layer) {
layer.bindPopup(feature.properties.description);
    }
}).addTo(map);

L.mapbox.accessToken = ''
var map = L.mapbox.map('map', 'mapbox.streets')
    .setView([38, -122], 9)
    .addControl(L.mapbox.geocoderControl('mapbox.places'));

</script>

</body>
</html>

