{% extends 'base.html' %} 

{% block head %}

<link rel="stylesheet" type="text/css" href="static/map.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/project.css" rel="stylesheet">

<meta charset=utf-8/>

 <!-- meta and style relate to the map -->
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">

  <!-- Map! -->
  <script src="static/classmap.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9EdKesWy05EUiKhvZCLt-KKCy7GybmTo&signed_in=true&callback=initMap"
       async defer></script>


{% endblock %}


{% block body %}

    <h3>Thanks for creating this class!</h3>

    <h5> {{ level }} {{ language }}</h5>
    <h5>For {{ min_students }} to {{ max_students }} students</h5>
    <h5>From {{ start_date }} until {{ end_date }}</h5>
    <h5>On {{ class_days }} at {{ start_time }} <h5>
    <h5>Location: {{ address }} <h5>

    <p>You can search for your new class <a href="/search">here</a></p>
    <p><a href="/profile">Take me back to my profile</p></a>

    <form id="newclass"

    <div id="map" style="width: 300px; height: 300px"></div> 



</html>

  {% endblock %}