{% extends 'base.html' %} 

{% block head %}

<link rel="stylesheet" type="text/css" href="static/map.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/project.css" rel="stylesheet">

<meta charset=utf-8/>




{% endblock %}


{% block body %}

    <h3>Thanks for creating this class!</h3>

    <h5><b>{{ class_name }}</b></h5>
    <h5> {{ level }} {{ language }}</h5>
    <h5>For {{ min_students }} to {{ max_students }} students</h5>
    <h5>Starts: {{ start_date }}</h5>

        {% if end_date == "" %}
            <h5>This class is ongoing</h5>

        {% else %}
            <h5>Ends: {{ end_date }}</h5>

        {% endif %}

    <h5>On {{ class_days }} at {{ start_time }} <h5>
    <h5>Costs: ${{ cost }}/{{ per_time }}</h5>
    <h5>Location: {{ address }} <h5>

    <p>You can search for your new class <a href="/search">here</a></p>
    <p><a href="/profile/{{ user_username }}">Take me back to my profile</p></a>
    <p><a href="/create-class">Or post another class</p></a>

    <form id="newclass">

    <div id="map" style="width: 300px; height: 300px"></div> 



</html>

{% endblock %}