{% extends 'base.html' %} 


{% block head %}
{% endblock %}

{% block body %}

<h3>Hello {{ user_email.fname }}</h3>

<h5>Here's where your image might go!</h5>

<h5>Account information: </h5>
<ul>
    <li>First name: {{ user_email.fname }}</li>
    <li>Last name: {{ user_email.lname }}</li>
    <li>Username: {{ user_email.username }}</li>
    <li>Email: {{ user_email.email }}</li>
    <li>{{ user_email.is_teacher }}</li>  !!!!
    <li>Your Bio: {{ user_email.bio }}</li>

{% if user_email.is_teacher == 1 %}
<h5>Here are the classes you're teaching:</h5>
{% else %}
<h5>Here are the classes you're taking:</h5>
{% endif %}

<ul id="users-classes">
{% for item in user_classes %}
    <a href="/class-info/{{ item.class_id }}"><li>{{ item.class_name }}: {{ item.level }} {{ item.language }}</li></a>
{% endfor %}
</ul>


<p>You can search for classes <a href="/search">here</a></p>

<form action='/logout'>
    <button id="logout" type="submit" class="btn btn-default">Log Out</button>
</form>

{% if user_email.is_teacher == 1 %}
<a href="/create-class"><button id="create-class" class="btn btn-default">Create a class!</button></a>
{% endif %}


{% endblock %}

