{% extends 'base.html' %} 


{% block head %}
{% endblock %}

{% block body %}

<div id="basic-class" class="col-sm-6 col-md-5 col-lg-6">

<h1>Hello {{ user_email.fname }}</h1>


{% if user_email.is_teacher == 1 %}
<h5>Classes you're teaching:</h5>

<br>

<ul id="users-classes">
{% for item in user_classes %}
<a href="/enrolled-in/{{ item.class_id }}"><li>{{ item.class_name }}: {{ item.level }} {{ item.language }}</li></a>
{% endfor %}
</ul>
{% endif %}


{% if user_email.is_teacher == 0 %}

<h5>Classes you're taking:</h5>

<ul id="users-classes">
{% for item in user_classes %}
<a href="/enrolled-in/{{ item.class_id }}"><li>{{ item.class_name }}: {{ item.level }} {{ item.language }}</li></a>
{% endfor %}
</ul>
{% endif %}


{% if user_email.is_teacher == 1 %}
<a href="/create-class"><button id="create-class" class="btn btn-default">Create a class!</button></a>
{% endif %}

</div>


{% endblock %}
