{% extends 'base.html' %} 


{% block head %}
{% endblock %}

{% block body %}

<h3>Hello {{ user_email.fname }}</h3>

<h5>Here's where your image might go!</h5>

<h5>Account information: </h5>
<ul>
    <li>First name: {{ user_email.fname }}</li>
    <li>Last name: {{ user_email.lname }}</li>
    <li>Username: {{ user_email.username }}</li>
    <li>Email: {{ user_email.email }}</li>
    <li>{{ user_email.is_teacher }}</li>  !!!!
    <li>Your Bio: {{ user_email.bio }}</li>

<h5>Here are the classes you're taking:</h5>

<ul id="users-classes">
{% for dino in user_classes %}
    <li>{{ dino.class_name }}: {{ dino.level }} {{ dino.language }}</li>
{% endfor %}
</ul>


<p>You can search for classes <a href="/search">here</a></p>

<form action='/logout'>
    <button id="logout" type="submit" class="btn btn-default">Log Out</button>
</form>



{% endblock %}