{% extends 'base.html' %} 

{% block head %}


<!-- Modal Window -->
<script>

// $('#submission').modal('show')
</script>

{% endblock %}

{% block body %}

<h3>Search for a class!</h3>

<!-- Parameters -->

<div>
    <form id="searchparams" method="GET" action="/search-results" data-target=".bs-example-modal-lg" >
      Language: 
      <select name="languagetype" class="form-control">
          <option value="Portuguese">Portuguese</option>
          <option value="Spanish">Spanish</option>
          <option value="Mandarin">Mandarin</option>
          <option value="Korean">Korean</option>
          <option value="French">French</option>
      </select>
  </div>

  <div>
    Level: 
    <select name="leveltype" class="form-control">
        <option value="Beginning">Beginner</option>
        <option value="Pre-Intermediate">Pre-Intermediate</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Upper Intermediate">Upper Intermediate</option>
        <option value="Advanced">Advanced</option>
        <option value="Native Speaking">Native Speaker</option>
        <option value="Mixed Level">Mixed Levels</option>
    </select>
  </div>

  <div>
    <button id="submission" class="btn btn-primary">Search for it!</button>
  </div>
</form>


<div>
  <h3>New Classes:</h3>

  {% for n in new %}
  <ul>
    <a href="/class-info/{{ n.class_id }}"><li>{{ n.level }} {{ n.language }}: {{ n.class_name }} (${{ n.cost }}/{{ n.per_time }})</li></a>
  </ul>
  {% endfor %}

</div>  


{% endblock %}