{% extends 'base.html' %} 

{% block head %}

<script src="https://code.jquery.com/jquery.js"></script>

<!-- Modal Window -->
<script>
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
</script>

{% endblock %}

{% block body %}

<h3>Search for a class!</h3>

<!-- Search Box -->
<div>
<form class="navbar-form navbar-left" role="search" id="form-submission">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    <button type="submit" class="btn btn-default">Search</button>
</form>
</div>
<br><br>

<!-- Parameters -->
<section>
<h3>Or browse open classes:<h3>
</section>

<div>
    <form id="search-by-lang" method="GET" action="/search-lang" >
      Language: 
      <select name="languagetype" class="form-control">
          <option value="Portuguese">Portuguese</option>
          <option value="Spanish">Spanish</option>
          <option value="Mandarin">Mandarin</option>
          <option value="Korean">Korean</option>
          <option value="French">French</option>
      </select>
  </div>

  <div>
    Level: 
    <select name="leveltype" class="form-control">
        <option value="Beginning">Beginner</option>
        <option value="Pre-Intermediate">Pre-Intermediate</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Upper Intermediate">Upper Intermediate</option>
        <option value="Advanced">Advanced</option>
        <option value="Native Speaking">Native Speaker</option>
        <option value="Mixed Level">Mixed Levels</option>
    </select>
  </div>

 <!--  <div>
      Days:
    <input type="checkbox" name="days" value="Monday">Monday
    <input type="checkbox" name="days" value="Tuesday">Tuesday
    <input type="checkbox" name="days" value="Wednesday">Wednesday
    <input type="checkbox" name="days" value="Thursday">Thursday
    <input type="checkbox" name="days" value="Friday">Friday
    <input type="checkbox" name="days" value="Saturday">Saturday
    <input type="checkbox" name="days" value="Sunday">Sunday
  </div>
   
  <div>
    Start Date:
    <input type="date" name="start" class="form-control">
  </div>

  <div>
    Last Day:
    <input type="date" name="end" class="form-control">
  </form>
  </div>

  <div>
    Class Time:
    <input type="time" name-"timetype" class="form-control">
  </div> -->
  <div>
    <button type="submit" id="submission" class="btn btn-primary">Search for it!</button>
  </div>

<!-- <script>

  // // Work, please!
  // $(document).ready(function() {
  //   debugger
  //  $('#submission').click(function(event)){   
  //    $.get("/search", $("#form-submission")
  //     console.log("It sent!")
  //  }

  // };



</script> -->


<script>


 // Form Submission
// Nothing will run until the DOM is ready
$(document).ready(function() {


 // When the button is clicked, the form is serialized and posted
 $('#submission').click(function(event)){   
   $.get("/search.json", $("#submission")
    console.log("Sent");
 }

}

</script>

{% endblock %}