{% extends 'base.html' %} 

{% block head %}

{% endblock %}

{% block body %}

<!-- Parameters -->

<div class="row" id="search-padding">
  <div class="col-sm-6 col-md-5 col-lg-6">
    <h1>Search for a class:</h1>
      <form id="searchparams" method="GET" action="/search-results" data-target=".bs-example-modal-lg" >
        <div>
          <h5 class="subtitle">Language:</h5> 
          <select name="languagetype" class="form-control">
              <option value="Portuguese">Portuguese</option>
              <option value="Spanish">Spanish</option>
              <option value="Mandarin">Mandarin</option>
              <option value="Korean">Korean</option>
              <option value="French">French</option>
          </select>
        </div>
      <br>
        <div>
          <h5 class="subtitle">Level:</h5> 
          <select name="leveltype" class="form-control">
              <option value="Beginning">Beginner</option>
              <option value="Pre-Intermediate">Pre-Intermediate</option>
              <option value="Intermediate">Intermediate</option>
              <option value="Upper Intermediate">Upper Intermediate</option>
              <option value="Advanced">Advanced</option>
              <option value="Native Speaking">Native Speaker</option>
              <option value="Mixed Level">Mixed Levels</option>
          </select>
      </div>
    </br>
      <div>
        <button id="submission" class="btn btn-default">Search for it!</button>
      </div>
    </form>
   </div>



  <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-6 col-lg-offset-0">
    <h2 class="title">Check out newly posted classes:</h2>

    {% for n in new %}
    <ul id="new-classes">
      <a href="/class-info/{{ n.class_id }}"><li>{{ n.level }} {{ n.language }}: {{ n.class_name }} (${{ n.cost }}/{{ n.per_time }})</li></a>
    </ul>
    {% endfor %}
  </div> 

</div>


{% endblock %}